body {
    background: #1a1a1a;
    color: white;
}


/* Fonts */

@font-face {
    font-family: Avengers;
    src: url(Avengers-Bold.ttf);
}

@font-face {
    font-family: Marvel;
    src: url(Marvel-Regular.ttf);
}

h1 {
    font-size: 6em;
    line-height: 1em;
    font-family: Marvel;
    text-transform: uppercase;
    color: #ed1d24;
}

h2 {
    font-size: 3em;
    line-height: 1.1em;
    letter-spacing: 0.1em;
    font-family: Marvel;
    text-transform: uppercase;
}

h3 {
    font-size: 2em;
    line-height: 1.3em;
    font-family: Marvel;
    text-transform: uppercase;
}

h4 {
    font-size: 1.5em;
    line-height: 1.3em;
    font-family: Marvel, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}

p {
    font-size: 1.8em;
    line-height: 1.3em;
    font-family: Marvel;
    text-transform: uppercase;
    margin: 0;
}


/*  Main, Section and As */

main section {
    height: 88vh;
    border-radius: 10px;
    border: 3px solid #4D4D4D;
}

div #wordBox {
    position: absolute;
    bottom: 0;
    left: 0;
}

aside {
    position: relative;
    bottom: 0;
}


/* Display Letters */

.specialChar {
    font-size: 8em;
    line-height: 1.1em;
    font-family: Marvel;
    text-transform: uppercase;
    display: inline-block;
    padding-right: 15px;
    color: #ed1d24;
}

.wins {
    background: #00ff9d !important;
    border-radius: 10px;
    color: white;
    padding: 10px 0;
    margin: 10px 0;
}

.loss {
    background: #ed1d24 !important;
    border-radius: 10px;
    color: white;
    padding: 10px 0;
    margin: 10px 0;
}


/* Lives */

.img-lives {
    width: 50px;
}


/* Letters */

.keyboardBtn {
    padding: 12.5px 20px;
    background: #1a1a1a;
    border: white 1px solid;
    font-family: Marvel;
    text-transform: uppercase;
    font-size: 1.3em;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
}

.keyboardBtn:hover {
    background: #4D4D4D;
    border: white 1px solid;
}

.border-right {
    border-right: 3px solid #4D4D4D !important;
}

.keyUsedBtn {
    padding: 6px 10px;
    background: #1a1a1a;
    border: white 1px solid;
    font-family: Marvel;
    text-transform: uppercase;
    font-size: .8em;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
}

.keyCorrect {
    border: #00ff9d 2px solid !important;
    color: #00ff9d;
    margin-left: 5px;
}

.keyIncorrect {
    border: #ed1d24 2px solid !important;
    color: #ed1d24;
    margin-left: 5px;
}

.disabled,
.keyboardBtn[disabled] {
    border: #4D4D4D 1px solid;
    color: #4D4D4D;
}


/* Animation */

@keyframes pulse {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

.pulse {
    -webkit-animation: pusle infinite 3s;
    animation: pulse infinite 3s;
}


/* Game Screen */

#main-game {
    display: none;
}

.gameWords {
    letter-spacing: 0.2em;
    font-size: 2.5em;
}


/* Buttons */

.btn {
    font-size: 1.8em;
    line-height: 1.3em;
    font-family: Marvel;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 20px 7.5px 20px;
}

.btn-secondary {
    background: #1a1a1a !important;
    border: white 2px solid !important;
}

.btn-secondary:hover {
    background: #333333 !important;
    border: white solid 2px !important;
}

.active {
    background: #ed1d24 !important;
    border: #ed1d24 solid 2px !important;
}

.active:hover {
    background: #ba161c !important;
    border: #ba161c 2px solid !important;
}

.again {
    font-size: 1.8em;
    line-height: 1.3em;
    font-family: Marvel;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 20px 7.5px 20px;
    border-radius: 5px;
}


/* Media Queires */

@media only screen and (max-width: 768px) {
    h3 {
        font-size: 1.8em;
    }
    main section {
        height: 100vh;
        border: none;
    }
    .img-lives {
        width: 25px;
    }
    .keyboardBtn {
        font-size: 1em;
        padding: 8px 12.5px;
    }
    .border-right {
        border-right: none !important;
    }
}